* {
  cursor: url("http://cur.cursors-4u.net/cursors/cur-1/cur21.png"), auto;
}

html {
  text-align: center;
}

body {
  /*background-image: url("http://www.mrwallpaper.com/wallpapers/forest-trees-waterfall.jpg");*/
  background-image: url("https://media.giphy.com/media/fJ1eCBjmMoEvu/giphy.gif");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  background-attachment: fixed;
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Fugaz One', cursive;
  background-color:black;
}

header {
  margin-top: 700px;
  font-size: 2em;
}

section img {
  width: 50em;
}

h2 {
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  float: left;
  padding: 25px;
}

li div {
  display: block;
  float: left;
  width: 300px;
  height: 1px;
  padding-left: 200px;
}

a, a:link, a:visited {
  text-decoration: none;
  color: green;
}

a:hover {
  text-decoration: none;
  color: lightgreen;
}

nav {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 2.5em;
  float: right;
  z-index: 1;
}

article {
  font-size: large;
  background-color: black;
}

.container {
  width: 100%;
  margin: 0;
}

.about {
  margin-top: 1px;
  background-color: rgba(5, 5, 5, 0.6);
}

.projects, .resume {
  margin-top: 200px;
  background-color: black;
  /*background-color: rgba(5, 5, 5, 0.6);*/
  opacity: 0.9;
}

.project-img {
  width: 100%;
  display: block;
  margin: auto;
}

.connect {
  margin-top: 700px;
  background-color: rgba(5, 5, 5, 0.6);
  opacity: 0.9;
}

.abt-me {
  margin: auto;
  width: 50%;
  font-size: 1.4em;
}

.view-more {
  font-size: 1.5em;
}

#icon {
  padding-bottom: 0;
}
